h1 {
    text-align: center;
    color: white;
}

body {
    background-image: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg);
}
form {
    display: none;
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

form li label {
    display: block;
    width: 150px;
    float: left;
    margin-right: 10px;
    font-size: 15px;
    color: white;
}

form ul li input select {
    float: left;
}

span {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}

a {
    color: red;
}

.info {
    color: white;
}

form li {
    list-style: none;
}

ul, li {
    margin: 0 auto;
    margin-top: 10px;
}

li input, select {
    border: 1px solid gray;
    outline-width: 0;
}

#submit {
    margin-top: 30px;
    margin-left: 28%;
    width: 100px;

}

.focus {
    border: 1px solid blue;
}

.error {
    border: 1px solid red;
}

input[autocomplete="off"]::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
}

